.rmdp-border {
  border-style: none;
}

.rmdp-wrapper {
  background-color: transparent;
  padding: 0 1.5rem;
}

.rmdp-day-picker {
  background-color: rgba(184, 223, 240, 0.4);
  border-radius: 1rem;
}

.rmdp-week-day {
  font-size: 1rem;
  font-weight: bold;
  color: #1a2c5b;
}

.rmdp-day span {
  font-size: 1rem;
}

.rmdp-day {
  width: 50px;
  height: 50px;
}

.sd {
  color: #1a2c5b;
}

.rmdp-wrapper,
.rmdp-calendar,
.rmdp-day-picker > div {
  width: 100%;
}

.rmdp-day-picker > div {
  padding: 0.75rem;
}

.rmdp-header {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.rmdp-header-values {
  color: #1a2c5b;
  opacity: 0.7;
  font-size: 1rem;
  width: 7rem;
  margin: auto 5rem;
}

.rmdp-header > div {
  height: 100%;
  justify-content: center;
}

.rmdp-selected > span {
  box-shadow: none;
}

:root {
  --rmdp-primary-purple: #7971ea;
  --rmdp-today-purple: #7971ea75;
  --rmdp-hover-purple: #8b83fa;
  --rmdp-deselect-purple: #ba68c8;
}

.purple .rmdp-panel-body li {
  background-color: var(--rmdp-primary-purple);
}

.purple .rmdp-range {
  background-color: var(--rmdp-primary-purple);
}

.purple .rmdp-arrow {
  border: solid var(--rmdp-primary-purple);
  border-width: 0 2px 2px 0;
}

.purple .rmdp-arrow-container:hover {
  background-color: var(--rmdp-primary-purple);
}

.purple .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: var(--rmdp-primary-purple);
}

.purple .rmdp-day.rmdp-today span {
  background-color: var(--rmdp-today-purple);
}

.purple .rmdp-rtl .rmdp-panel {
  border-left: unset;
}

.purple .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-primary-purple);
  box-shadow: none;
}

.purple .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: var(--rmdp-hover-purple) !important;
}

.purple .b-deselect {
  color: var(--rmdp-deselect-purple);
  background-color: white;
}

.purple .rmdp-action-button {
  color: var(--rmdp-primary-purple);
}

.purple .rmdp-button:not(.rmdp-action-button) {
  background-color: var(--rmdp-primary-purple);
}

.purple .rmdp-button:not(.rmdp-action-button):hover {
  background-color: var(--rmdp-deselect-purple);
}
